@font-face {
  font-family: Iosevka;
  src: url('fonts/iosevka-regular.woff2') format('woff2'),
       url('fonts/iosevka-regular.woff') format('woff'),
       url('fonts/iosevka-regular.ttf') format('truetype');
}
#title{
  font-size: x-large;
}
a.ablack{
  color:white !important;
}
li{
  margin-bottom:8px;
  margin-right: 24px;
  text-align: justify;
  color:white;
}
ul,ol{
  margin-left:24px;
  margin-right:24px;
}
#all_posts{
  margin-top:24px;
  text-align:center;
}
.subtitle{
  font-size:small;
  margin:12px 0px;
}
.content p{
  margin-left:24px;
  margin-right:24px;
}
h1{
  margin-bottom:12px !important;
}
#description{
  font-size:large;
  margin-bottom:12px;
  color:white;
}
h3{
  margin-top:42px;
  margin-bottom:8px;
  color:white;
}
h4{
  margin-left:24px;
  margin-right:24px;
  color:white;
}
img{
  max-width:100%;
}
pre{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 50px;
  margin-left: 50px;
  overflow-x: auto;
  background-color: #DEDEDE;
}
p{
  text-align: justify;
  color:white;
}
code{
  font-family: Iosevka, 'Courier New', monospace;
  font-size: small;
}
#twitter{
  line-height:20px;vertical-align:top;text-align:right;font-style:italic;color:#333;margin-top:24px;font-size:14px;
}
