body{
  font-family:Helvetica,sans-serif;
  margin:0;
  padding:0;
  background-color:#000;
}
#divbodyholder{
  padding:5px;
  background-color:#000;
  width:100%;
  max-width:874px;
  margin:24px auto;
}
#divbody{
  border:solid 1px #000;
  background-color:#000;
  padding:0px 48px 24px 48px;
  top:0;}
.headerholder{
  background-color:#000;
  border-top:solid 1px #0E0;
  border-left:solid 1px #0E0;
  border-right:solid 1px #0E0;
  border-bottom:solid 1px #0E0;
}
.header{
  width:100%;
  max-width:800px;
  margin:0px auto;
  padding-top:24px;
  padding-bottom:8px;
}
.content{
  margin-bottom:5%;
}
.nomargin{
  margin:0;
}
.description{
  margin-top:10px;
  border-top:solid 1px #666;
  padding:10px 0;
}
h2{
  color:white;
}
h3{
  font-size:20pt;
  width:100%;
  font-weight:bold;
  margin-top:32px;
  margin-bottom:0;
}
.clear{
  clear:both;
}
#footer{
  padding-top:10px;
  border-top:solid 1px #0E0;
  color:#AAA;
  text-align:center;
  font-size:small;
  font-family:"Courier New","Courier",monospace;
}
a{
  text-decoration:none;
  color:#00EE00 !important;
}
a:visited{
  text-decoration:none;
  color:#336699 !important;}
blockquote{
  background-color:#f9f9f9;
  border-left:solid 4px #e9e9e9;
  margin-left:12px;
  padding:12px 12px 12px 24px;
}
blockquote img{
  margin:12px 0px;
}
blockquote iframe{
  margin:12px 0px;
}
